@font-face {
  font-family: 'Akira Expanded';
  src: url('./Akira\ Expanded\ Demo.otf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
	width: 100vw;
	height: 100dvh;
	object-fit: cover;
	position: fixed;
}

main {
  height: 300dvh;
}

header {
  background: linear-gradient(60deg, #b83614, #8d1404 80%);
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: -360px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
	animation: slideInDown 1250ms ease-out;

  img {
    width: auto;
    margin: 0 auto;
    height: 40px;
    margin-bottom: 81px;
		margin-top: 500px;
  }

}

#scroll-dwn{
	height: 750px;
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	position: absolute;
	z-index: 1;
  animation: slideInDown 2500ms ease-out;
  transform: translateX(-50%);
  left: 50%;
}
#grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 38%;
  height: 350px;
  width: 100dvw;
  position: absolute;
  top: 400px;
  z-index: 1;
  font-family: monospace;

	#description{
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
  }

	#browser{
    display: flex;
    justify-content: flex-start;
    margin-right: 50%;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(-50%, -100%, 0);
		opacity: 0;
  }
  to {
    transform: translate3d(-50%, 0, 0);
		opacity: 1;
  }

}


