*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
	width: 100vw;
	height: 100dvh;
	object-fit: cover;
	position: fixed;
}

main {
  height: 300dvh;
}

header {
  background: linear-gradient(60deg, #b83614, #8d1404 80%);
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: -360px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
	animation: slideInDown 1250ms ease-out;

  img {
    width: auto;
    margin: 0 auto;
    height: 40px;
    margin-bottom: 81px;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(-50%, -100%, 0);
		opacity: 0;
  }
  to {
    transform: translate3d(-50%, 0, 0);
		opacity: 1;
  }

}


